<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div>
            <input id="uname" type="email" placeholder="Enter email" required>
        </div>
        <div>
            <input id="pwd" type="password" placeholder="Create password" required>
        </div>
        <div>
            <input id="pwd-check" type="password" placeholder="Re-enter password" required>
        </div>
        <button onclick="login()">Login</button>
    </form>

    <script>
        

       

        function login(){
            const name = document.getElementById("uname").value;
        const pwd = document.getElementById("pwd").value;
            console.log("login called");
        //     const cred = {
        //     "email" : name,
        //     "password" : pwd
        // }   
        
        console.log(name);
        console.log(pwd);
        
        
            // fetch(`/api/add-cred`, {
            //     method: 'POST', // or 'PUT'
            //     headers: {
            //         'Content-Type': 'application/json',
            //     },
            //     body: JSON.stringify(cred),
            // })
            //     .then((response) => response.json())
            //     .then((data) => {
            //         console.log('Success:', data);
            //         //displayBirthdayList(data);
            //     })
            //     .catch((error) => {
            //         console.error('Error:', error);
            //     });
        }
    </script>
</body>
</html>